/* ============================= */
/*         Reset & Box Model    */
/* ============================= */
* {
    box-sizing: border-box;
}

/* ============================= */
/*         Scrollbar             */
/* ============================= */

/* Hide scrollbar for all browsers */
body {
    overflow: hidden; /* Prevent default scrollbar */
    
}

/* Custom scrollbar styles for WebKit browsers */
body::-webkit-scrollbar {
    width: 4px; /* Set width of scrollbar */
    background: transparent; /* Transparent track */
}

body::-webkit-scrollbar-thumb {
    background: rgba(39, 39, 39, 0.3); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
}

/* Firefox scrollbar styling */
body {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: rgba(37, 37, 37, 0.3) transparent; /* Thumb color and track color */
}


/* Show scrollbar when active */
body:hover {
    scrollbar-color: rgba(24, 24, 24, 0.6) transparent; /* Change thumb color on hover */
}


/* ============================= */
/*           General Styles      */
/* ============================= */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #030303;
    color: #eaeaea;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow: auto; /* Allow scrolling on the body */
}
/* ============================= */
/*           Header Styles       */
/* ============================= */

/* Retain the gradient overlay */
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at left center, rgba(0, 255, 255, 0.015), rgba(0, 0, 0, 0.661)); /* Blue-green radial gradient on left side */
    z-index: -1; /* Place it behind the content */
    filter: blur(0px); /* Apply a blur effect */
}

/* Additional adjustments for header */
header {
    position: fixed; /* Keep the header fixed */
    top: 0; /* Offset from the top */
    left: 0;
    right: 0;
    background: rgba(26, 26, 26, 0.6); /* Semi-transparent background for glass effect */
    color: #eaeaea;
    padding: 1em 0; /* Adjust padding */
    text-align: center; /* Center text */
    backdrop-filter: blur(4.8px); /* Apply blur effect to content behind */
    border-bottom: 1px solid rgba(82, 82, 82, 0.1); /* Soft border */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
    z-index: 1000;
}



.header-content {
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    margin-bottom: 1.8em; /* Space between header content and nav */
}

.logo {
    display: none; /* Hide logo by default */
}

/* Show logo on mobile screens */
@media (max-width: 768px) {
    header {
        padding-left: 24px; /* Reduce padding for a smaller header */
        height: 75px; /* Set a fixed height for the header */
    }
    

    .header-content {
        justify-content: flex-start; /* Align items to the start */
        padding: 0.5em; /* Adjust padding */
    }

    .logo {
        display: block; /* Show logo on mobile screens */
        width: 24px; /* Set width to 24px */
        height: 24px; /* Set height to 24px */
        margin-right: 10px; /* Space between logo and titles */
    }

    .title-container {
        display: none; /* Hide titles on mobile screens */
    }

    .mobile-nav {
        display: flex; /* Display nav items in a row */
        align-items: center; /* Center nav items vertically */
        margin-left: auto; /* Push nav to the right */
    }

    .mobile-nav ul {
        display: flex; /* Align nav items in a row */
        list-style-type: none; /* Remove bullet points */
        padding: 0; /* Remove padding */
        margin: 0; /* Remove margin */
    }

    .mobile-nav li {
        margin-left: 4px; /* Space between nav items */
        font-size: 10px;
        padding: 4px;




    }



    .title-container h2{
        font-size: 10px; /* Set smaller font size for titles */
    } 
    .title-container h1 {
    font-size: 14px; /* Set smaller font size for titles */
    color: #ffffff; /* Make titles white */
}

.logo {
    filter: invert(100%); /* Make the icon white */
}

}

/* Styles for larger screens */
@media (min-width: 769px) {
    .header-content {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items */
    }

    .title-container {
        text-align: center; /* Center titles */
        margin-bottom: 0.5em; /* Space between title and nav */
    }

    .mobile-nav {
        display: block; /* Show nav */
        margin-top: 0.5em; /* Space above nav */
    }

    .mobile-nav ul {
        display: flex; /* Align nav items in a row */
        list-style-type: none; /* Remove bullet points */
        padding: 0; /* Remove padding */
        margin: 0; /* Remove margin */
    }

    .mobile-nav li {
        margin-left: 15px; /* Space between nav items */
       
    }


}

/* ============================= */
/*           Main Styles         */
/* ============================= */
main {
        flex: 1;
        max-width: 1000px;
        margin: 0 auto;
        margin-top: 160px;
        padding: 8px;
        overflow-y: auto; /* Allow scrolling within main */
        min-height: calc(100vh - 160px); /* Adjust based on header/footer height */
    }

    @media (max-width: 768px) {
        main{
            margin-top: 80px;
        }
    }

    
/* ============================= */
/*           Headings Styles     */
/* ============================= */
h1 {
    font-family: 'Museo Sans', sans-serif; /* Set Museo Sans as the font */
    font-weight: 500; /* Font weight */
    font-size: 20px; /* Font size */
    margin: 0.2em 0; /* Margin for spacing */
}

h2 {
    font-family: 'Museo Sans', sans-serif; /* Set Museo Sans as the font */
    font-weight: 100; /* Font weight */
    font-size: 12px; /* Font size */
    margin: 0.5em 0; /* Margin for spacing */
    opacity: .65;
    letter-spacing: 1.3px;
}

p{
    font-family: 'Museo Sans', sans-serif; /* Set Museo Sans as the font */
    font-weight: 100; /* Font weight */
    font-size: 14px; /* Font size */
    margin: 1.5em 0; /* Margin for spacing */
    line-height: 24px;
}
/* ============================= */
/*           Footer Styles       */
/* ============================= */
footer {
    text-align: center;
    padding: 1.2em 0;
    background: linear-gradient(135deg, #1a1a1a, #0c0c0c);
    color: #eaeaea;
    position: relative;
    width: 100%;
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}

/* ============================= */
/*           Tab Styles          */
/* ============================= */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0.5em 0;
}

nav ul li {
    margin: 0 8px;
}

nav a {
    color: #eaeaea;
    text-decoration: none;
    font-family: 'Museo Sans', sans-serif; /* Set Museo Sans as the font */
    font-weight: 500; /* Font weight */
    font-size: 14px; /* Font size */
    padding: 10px 15px;
    border-radius: 4px;
    transition: background 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

/* Hover State */
nav a:hover {
    background: rgba(229, 229, 229, 0.429); /* Change hover effect to be more noticeable */
    color: #ffffff; /* Color change on hover */
}

/* Selected State */
nav a.selected {
    background: rgba(88, 166, 255, 0.167); /* Change hover effect to be more noticeable */
    color: #86beff; /* Color change on hover */
}


@media (max-width: 768px) {
    nav a{
        font-size: 12px; /* Font size */
    padding: 8px 10px;
    }
}


/* ============================= */
/*           Artwork Styles      */
/* ============================= */
.artwork-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust minimum size */
    gap: 4px; /* Reduced gap between items */
    padding: 4px;
}

/* Media query for mobile sizes */
@media (max-width: 600px) {
    .artwork-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on mobile */
    }
}
.artwork-item {
    width: 100%; /* Fill the width of the grid item */
    height: 150px; /* Set a fixed height */
    border-radius: 0px;
    overflow: hidden;
    transition: transform 0.3s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.artwork-item img {
    width: 100%; /* Fill the container width */
    height: 100%; /* Fill the container height */
    object-fit: cover; /* Maintain aspect ratio, crop if needed */
}

.artwork-item {
    position: relative; /* Position relative to enable absolute positioning of overlay */
}

.artwork-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire area without distortion */
}

.overlayhover {
    position: absolute; /* Position overlay absolutely */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    opacity: 0; /* Initially hidden */
    display: flex; /* Center text */
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    transition: opacity 0.3s; /* Smooth transition */
}

.artwork-item:hover .overlayhover {
    opacity: 1; /* Show overlay on hover */
}

.text {
    color: #fff; /* White text */
    text-align: center; /* Center text */
    font-size: 16px; /* Adjust font size */
}


/* ============================= */
/*           Card Styles         */
/* ============================= */
/* Portfolio Item Styles */
.portfolio-item {
    display: flex; /* Maintain flex layout */
    flex-direction: column; /* Ensure items stack vertically */
    background: linear-gradient(135deg, rgba(34, 34, 34, 0.8), rgba(11, 11, 11, 0.8)); /* Dynamic gradient */
    /*border: 1px solid rgba(255, 255, 255, 0.1); Soft border */
    border-radius: 12px; /* Rounded corners */
    margin: 20px 0; /* Margin between cards */
    text-align: left; /* Align text left */
    cursor: pointer; /* Pointer cursor */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition */
    overflow: hidden; /* Prevent overflow */
}
.portfolio-details h1 {
    font-size: 20px;
}
/* Hover State */
.portfolio-item:hover {
    transform: translateY(-5px); /* Lift effect */
    box-shadow: 0 10px 30px rgba(0, 170, 255, 0.5); /* Brighter shadow */
    background: rgba(34, 34, 34, 0.9); /* Slightly lighter background on hover */
}

/* Portfolio Image Styles */
.portfolio-image {
    width: 100%; /* Make images fill the width */
    height: auto; /* Maintain aspect ratio */
    max-width: none; /* Remove any max-width restrictions */
    border-radius: 10px 10px 0 0; /* Rounded top corners */
}

.portfolio-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}



.portfolio-top-icons{
    height: 18px;
    opacity: 60%;
}

.portfolio-tie-icon{
    height: 12px;
    opacity: 60%;
}



/* Responsive adjustments for cards */
/* Update for desktop screens */
@media (min-width: 769px) {
    .portfolio-item {
        display: flex; /* Maintain flex layout */
        flex-direction: row; /* Keep items in a row */
        align-items: center; /* Center align items */
    }

    .portfolio-image {
        width: 500px; /* Increase image width */
        height: auto; /* Maintain aspect ratio */
        max-width: 100%; /* Responsive sizing */
        border-radius: 0px; /* Optional: rounded corners */
    }

    .portfolio-details {
        padding-left: 16px; /* Add space between image and text */
        padding-right: 16px; /* Add space between image and text */
    }
}

/* Adjust for mobile */
@media (max-width: 769px) {
    .portfolio-item {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items to the left */
        text-align: left; /* Align text to the left */
        margin: 0px; /* Remove margin for full-width effect */
        margin-bottom: 16px;
    }

    .portfolio-image {
        margin-right: 0; /* Remove right margin */
        margin-bottom: 8px; /* Add bottom margin */
        width: 100%; /* Make image full width */
        max-width: none; /* Remove max-width to allow full size */
    }

    .portfolio-details {
        padding: 8px; /* Add padding for mobile spacing */
        margin: 8px;
    }
}




/* ============================= */
/*           Button Styles       */
/* ============================= */
button {
    background: transparent; /* Make background transparent */
    color: #58A6FF; /* Subtle text color */
    border: 1px solid #58A6FF; /* Soft border */
    padding: 8px 16px; /* Adjust padding */
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, color 0.3s; /* Add transition for hover effect */
}

button:hover {
    background: rgba(88, 166, 255, 0.1); /* Subtle hover effect */
    color: white; /* Change text color on hover */
    transform: scale(1.02); /* Slightly scale on hover */
}

@media (max-width: 769px) {
    button {
        width: 100%;
}
}



/* ============================= */
/*      Description Styles      */
/* ============================= */
.description {
    display: -webkit-box; /* For WebKit browsers */
    -webkit-box-orient: vertical; /* Required for box layout */
    -webkit-line-clamp: 3; /* Show only 3 lines */
    overflow: hidden; /* Hide overflow */
    max-height: 4.5em; /* Adjust based on line height (3 lines * 1.5em) */
    line-height: 1.5em; /* Set line height */
}


/* ============================= */
/*           Modal Styles       */
/* ============================= */
.overlay {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Center the modal */
    max-width: 95%;
    max-height: 95%;
    overflow: hidden; /* hides scrolling for large images */
}

/* Adjustments for modal */
.modal-content {
    margin: 5% auto; /* Adjust margin for better positioning */
    width: 90%; /* Default width */
    max-width: 600px; /* Maximum width for larger screens */
}

.modal img {
    width: 100%; /* Full width for the modal image */
    height: auto; /* Maintain aspect ratio */
    max-height: calc(95vh - 20px); /* Limit height to prevent overflow */
    object-fit: contain; /* Ensure the whole image is visible */
}


@media (max-width: 600px) {
    .modal-content {
        width: 90%; /* Increase width for mobile */
        max-width: none; /* Remove max-width to allow full size */
        height: auto; /* Allow height to adjust based on content */
    }
}

.close {
    color: white;
    float: right;
    font-size: 24px;
    font-weight: 100;
    margin: 0px;
}

.close:hover {
    color: #FF5733;
    text-decoration: none;
    cursor: pointer;
}



#case-study-content {
    flex: 1; /* Take remaining space */
}

.ux-navigation {
    position: fixed; /* Fix the position */
    top: 200px; /* Distance from the top */
    right: 20px; /* Distance from the right */
    width: 200px; /* Width of the sidebar */
    padding: 20px;
    background: rgba(26, 26, 26, 0.8); /* Semi-transparent background */
    color: #eaeaea;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Shadow for depth */
}

.ux-navigation h3 {
    margin-top: 0; /* Remove top margin */
}

.ux-navigation ol {
    padding-left: 20px; /* Indent the list */
}

.ux-navigation a {
    color: #58A6FF; /* Link color */
    text-decoration: none; /* Remove underline */
}

.ux-navigation a:hover {
    text-decoration: underline; /* Underline on hover */
}




/* ============================= */
/*       badges              */
/* ============================= */
.badges {
    display: flex; /* Use flexbox for layout */
    gap: 8px; /* Space between badges */
    margin: 4px 0; /* Margin for spacing */
    margin-top: 16px;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}


.badge {
    display: flex; /* Flex for alignment */
    align-items: center; /* Center icon and text */
    background: rgba(93, 93, 93, 0.1); /* Background color */
    color: #d4d4d4; /* Text color */
    padding: 4px 8px; /* Padding */
    border-radius: 4px; /* Rounded corners */
    font-size: 12px; /* Font size */
    font-weight: 200; /* Font weight */
}
.badge h2{
    font-size: 10px; /* Font size */
    font-weight: 200; /* Font weight */
}
.badge-icon {
    width: 14px; /* Adjust icon size */
    height: 14px;; /* Maintain aspect ratio */
    margin-right: 4px; /* Space between icon and text */
    opacity: 60%;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .badge {
        font-size: 10px; /* Reduce badge font size */
        padding: 4px 8px; /* Adjust padding */
    }
    .badge h2{
        font-size: 8px; /* Font size */
        font-weight: 200; /* Font weight */
    }

    
}

/* Prevents text from wrapping below badges */
.portfolio-details h2 {
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
}



/* ============================= */
/*       Keyframes              */
/* ============================= */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


